.header-bar {
  display: flex;
  justify-content: space-between;
  color: darkgreen;
}

.startup-link {
  display: flex;
  color: white;
  font-size: 32px;
}

.startup-logo {
  display: inline-block;
  font-size: 32px;
}